.background {
background-position:center;
background-repeat:no-repeat;
background-size:cover;
height:90%;
}
.backgrounda li{
background-position:absolute;
background-repeat:no-repeat;
background-size:cover;
min-height:50%px;
}
.Box input {
	flex: 1;
	height: 25px;
	margin-right: 20px;
	border: none;
	outline: none;
	font-size: 20px;
}
.centered {
	position: relative; 
	display: inline-block; 
	width: 50%; 
	height: 30%; 
	padding: 1em; 
	background: #ccff66; 
	color:#336699; 
	text-align:left;
}
table.type11 {
  border-collapse: separate;
  border-spacing: 1px;
  text-align: center;
  line-height: 1.5;
  margin: 20px 10px;
}
table.type11 th {
  width: 170px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #fff;
  background: #2F86ED ;
}
table.type11 td {
  width: 155px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #eee;

}
